<div class="container">

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href='/'>Search Information</a>
    <%= form_tag searches_path, method: 'get', class: 'form-inline', role: 'searches' do %>
      <%= text_field_tag :title, params[:title], placeholder: "By Title", class: "form-control mr-sm-2" %>
      <%= text_field_tag :year, params[:year], placeholder: "By Year", class: "form-control mr-sm-2" %>
      <%= submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
</nav>
  <% if flash.present? %>
    <%= render 'flash' %>
  <% else %>
   <% unless @result %>
    <div class="alert alert-info" role="alert">
      Search for your favourite Play! Nothing to show now.
    </div>
   <% else %>
    <%= render 'results' %>
   <% end %>
  <% end %>

</div>



